* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

header {
	width: 100%;
	height: 3rem;
	background-color: #1f2937;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-left: 20rem;
	padding-right: 20rem;
}

.header-logo {
	font-size: 24px;
	color: #f9faf8;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
}

li {
	font-size: 18px;
	color: #e5e7eb;
	text-decoration: none;
	padding-left: 1rem;
}

.section-top {
	background-color: #1f2937;
	width: 100%;
	height: 30rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 20rem;
	width: 30rem;
	height: 15rem;
}
.heading-top {
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}

.para-top {
	font-size: 18px;
	color: #e5e7eb;
}
.placeholder {
	background-color: rgb(81, 91, 105);
	color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15rem;
	width: 40rem;
	margin-right: 20rem;
}

.top-sign-up {
	border-radius: 10px;
	background-color: #3882f6;
	color: #f9faf8;
	width: 9rem;
	height: 2.5rem;
	border: none;
	font-size: 18px;
	font-weight: 600;
}

.section-random {
	background-color: white;
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 2rem;
}

.random-row {
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.random-column {
	display: flex;
	flex-direction: column;
	width: 15rem;
}
.empty {
	height: 15rem;
	width: 15rem;
	border: 3px solid #3882f6;
	border-radius: 15px;
}
.heading-random {
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
	padding-bottom: 2rem;
}

.para-random {
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.section-testimonial {
	background-color: #e5e7eb;
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.para-testimonial {
	font-size: 36px;
	color: #1f2937;
	font-style: italic;
	font-weight: 100;
	width: 52rem;
	text-align: left;
}

.heading-testimonial {
	text-align: right;
	width: 52rem;
	padding-top: 4rem;
}

.section-cta {
	background-color: white;
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cta-row {
	width: 60rem;
	height: 15rem;
	background-color: #3882f6;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-sign-up {
	border-radius: 10px;
	background-color: #3882f6;
	border: 2px solid #f9faf8;
	color: #f9faf8;
	width: 9rem;
	height: 2.5rem;
	font-size: 18px;
	font-weight: 600;
	margin-left: 7rem;
}
.heading-cta {
	font-size: 24px;
	color: #f9faf8;
}

.para-cta {
	font-size: 18px;
	color: #e5e7eb;
}

footer {
	width: 100%;
	height: 3rem;
	background-color: #1f2937;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
footer p {
	font-size: 18px;
	color: #e5e7eb;
}
